*{
    margin: 0;
    padding: 0;
}

body{
    background-color: whitesmoke;
    font-family: 'Raleway', sans-serif;
}

header{
    border-bottom: 2px solid rgba(128, 128, 128, 0.297);
    background-color: white;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 5px;
    padding-bottom: 5px;
   
}

/* .container{
    grid-template-columns: repeat(2,1fr);
}

.logo{
    display: flex;
    justify-content: flex-start;
}
.nav{
    display: flex;
    justify-content: flex-end;
} */


.container{
    position: relative;

}

nav{
    display: inline-block;
    margin-left: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.logo img{
    margin-left: 100px;
    border: 1px solid gray ;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.15);
}

ul{
    display: inline-block;
}
ul li{
    display: inline-block;
    width: 100px;
    transition: all 1s;
    font-size: 15px;
}

ul li:hover{
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

.banner{
    height: calc(100vh - 72px);
    background-image: url(./images/bannner-white.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 1px solid rgba(128, 128, 128, 0);
}

.banner p{
    color: white;
    font-size: 70px;
    font-weight: 600;
    text-align: center;
    margin-top: 300px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.banner a{
    display: block;
    text-align: center;
    width: 200px;
    margin: 0 auto;
    color: rgb(79, 79, 79);
    text-decoration: none;
    background-color: white;
    padding: 15px 0;
    border-radius: 4px;
    margin-top: 10px;
}

.products{
    max-width: 1180px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 15px;
}

.product img{
    display: block;
    width: 230px;
    height: 250px;
    float: right;
    border-radius: 4px;
    /* border: 1px solid rgba(128, 128, 128, 0.534); */
}

.product{
    height: 250px;
    box-shadow: 0px 1px 5px rgba(128, 128, 128, 0.507);
    padding: 5px;
    border-radius: 5px;
    margin-top: 25px;
    transition: all 0.3s;
}

.product:hover{
    box-shadow: 0px 1px 15px rgba(128, 128, 128, 0.507);
}

.product h2{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 25px;
}

.product p{
    margin: 25px 0;
}

.product button{
    padding: 15px;
    width: 250px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    transition: all 1s;
    border-radius: 3px;
}

.product button:hover{
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.product button:active{
    margin-top: 5px;
}

footer{
    border-top: 1px solid rgba(128, 128, 128, 0.3);
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.15);
    padding: 5px;
    background-color: white;
}

@media(max-width:610px){
    .logo img{
        margin-left:0;
        margin-left: 30px;
      } 
}

@media(max-width:555px){
    .product button{
        padding: 13px;
         width: 240px;
    }
    .product p {
        margin: 15px 0;
}
}

@media(max-width:520px){
    .product button {
        padding: 13px;
        width: 213px;
}
.logo{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
  }
  ul{
    display: none;
  }

    
}

@media(max-width:500px){
  ul{
    display: none;
  }
  .logo{
    display: flex;
    justify-content: center;
    margin-bottom: 2px;
  }
  .logo img{
    margin: 0;
  }
  .banner p{
    font-size: 50px;
  }
  .banner a{
    width: 150px;
  }
  .product{
    height: 200px;
  }
  .product img{
    width: 180px;
    height: 200px;
  }
  .product h2{
    font-size: 23px;
    margin-bottom: 15px;
  }
  .product p{
    margin: 13px 0;
    font-size: 15px;
  }
  .product button{
    padding: 11px;
    width: 174px;
  }
  .footer logo{
    margin-bottom: 5px;
  }
  .product-sak p{
    padding-bottom: 18px;
  }
}

@media(max-width:413px){
    .product h2 {
        font-size: 20px;
        margin-bottom: 5px;
}
.product p {
    margin: 9px 0;
    font-size: 14px;
}
.product button {
    padding: 11px;
    width: 132px;
}
}

@media(max-width:365px){
    /* .product p{
        font-size: 12px;
    } */
}

